# -*- coding: utf-8 -*-
<!DOCTYPE html>
<html>
	<head>
		<title>Accueil</title>
		<meta charset="utf-8"/>
	</head>
	<body>
		<h1>Installations Sportives des Pays de la Loire</h1>
		<ul>
			<li><a href="show_all/installation">Voir les installations</a></li>
			<li><a href="show_all/equipement">Voir les équipements</a></li>
			<li><a href="show_all/activite">Voir les activités</a></li>
			<li><a href="form_lieu">Consultez les lieux selon une activité dans une ville</a></li>
			<li><a href="form_activity">Consultez les activités disponibles dans une ville</a></li>
		</ul>	
	</body>
</html>